@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&family=Satisfy&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.2rem;
    text-align: justify;
}

h2{
    text-align: center;
    font-size: 1.5rem;
}

.dotted-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 10px auto;
    width: 90px;
}

header {
    background-color: #0c6168;
    padding: 1% 7%;
    text-align: center;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo img {
    width: 13vw;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-left: 10vw;
}

.links a {
    text-decoration: none;
    padding: 5px;
    font-size: 1rem;
    background-color: #398b92;
    color: black;
    border-radius: 10px;
    margin: 7px 0;
    padding: 10px;
}

.links a:hover {
    font-size: 1.2rem;
    text-decoration: underline;
    color: rgb(229, 226, 226);
    background-color: gray;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

/* for mobile  */
[class*="col-"] {
    width: 100%;
}


/* profile section  */

/* My bio starts here  */
.box1 {
    position: relative;
    text-align: center;
    padding: 100px 10px;
}


main .box1 img {
    width: 25vw;
}

.box1 .top-weather {
    position: absolute;
    right: 22px;
    top: 25px;
    transition: transform 1.5s;
}

.box1 .top-weather:hover {
    transform: rotate(360deg);
}


main .box1 h1 {
    color: black;
    font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
font-size: 30px;
}

main .box1 p{
    text-align: center;
    color: gray;
    width: 90%;
    margin: 0 auto 20px auto;
}

.box1 .bottom-weather {
    position: absolute;
    left: 21px;
    bottom: -10px;
    transition: transform 1.5s;
}

.box1 .bottom-weather:hover {
    transform: rotate(360deg);
}
/* My bio ends here  */

 /* About me starts here   */

    .about{
        background-color: rgb(121, 189, 211);
        padding: 1% 7%;
        margin-top: 25px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .aboutme-img img{
        width: 28vw;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 50%;
    }

    .about p{
        text-align: center;
    }

    .aboutme-hr{
        color: white;
    }

   .padding{
    padding: 10px 0;
   }

   .about-desc a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
   }

   .about-desc a:hover{
    font-size: 1.3rem;
    text-decoration: underline;
   }

    .about::after{
        clear: both;
        display: table;
        content: '';
    }


 
 /* About me ends here   */